.recolnatUpperNavigationBarButton {
    font-family: "Trebuchet MS", sans-serif;
    padding: 2px 4px 2px 4px;
    width: 150px;
    text-decoration: none;
    white-space: normal;
    vertical-align: middle;
    line-height: 30px; /* Set text height here for v-align */
    display: block;
    font-size: 17px;
    border: none;
    background-color: #E8E8E6;
    height: 30px;
    color: #504A4A;
}

.recolnatUpperNavigationBarButton:hover {
    background-color: #CCCCCC;
}